@import "tailwindcss";

:root {
  --background: #1B1B1B;
  --foreground: #EDEDED;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
  --font-questrial: var(--font-questrial);
  --color-primary: #52B946
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #1B1B1B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: var(--font-poppins);
}
p {
  font-family: var(--font-questrial);
}